@import '../../../variables.scss';

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing-container {
  padding: 24px;
  background-color: $secondary-color;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 2px 25px 0px rgba(41, 98, 255, 0.20);
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 525px;

  .app-name {
    color: #F08A5D;
  }
}

.stage-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    width: 100%;
  }
}

.stage-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stage-action {
  cursor: pointer;
  font-weight: 600;
}

.stage-footer, .stage-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
