@import '../../../variables.scss';

#navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

button {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 960px) {
  button {
    width: 100%;
  }
}
