/* You can add global styles to this file, and also import other style files */

$primary-color: #b1b2ff;
$secondary-color: #aac4ff;
$tertiary-color: #d2daff;
$font-color: #eef1ff;

body,
html {
  background-color: $primary-color;
  color: $font-color;
  height: 100%;
}
