@import 'variables';


body,
html {
  background-color: $primary-color;
  color: $font-color;
  height: 100%;
  padding: 4%;
}

.bold-text {
  font-weight: 700;
}

.app-button {
  background-color: $font-color;
  color: $primary-color;
}

.app-button:hover {
  border: 1px solid $font-color;
}

i {
  font-size: 20px;
}
