<div id="location-list">
  <div class="page-top">
    <button
      (click)="navigateToLocationCreate()"
      mat-raised-button
      class="btn app-button"
    >
      Adicionar localidade
    </button>
    <span class="bold-text" style="cursor: pointer;" (click)="navigateBack()">Voltar</span>
  </div>
  <app-table
    *ngIf="isReady && displayLocations.length; else no_orgs"
    [displayNames]="['Nome da localidade', 'Endereço', 'Descrição']"
    [fieldNames]="['name', 'address', 'description']"
    [hasCounter]="true"
    [isEditable]="true"
    [rows]="displayLocations"
    [editRoute]="'location-create'"
    editOrDeleteIdFiledName="locationId"
    [isDeletable]="true"
    (deleteEventEmitter)="deleteLocation($event)"
  >
  </app-table>
  <ng-template #no_orgs>
    <p>Nenhuma localidade encontrada! Por favor cadastre uma localidade através do botão acima.</p>
  </ng-template>
</div>
