#all-shifts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.shifts {
  margin-top: 16px;
}

.shifts-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.shift-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 12px;
  padding: 12px 16px;
  background: var(--base-white, #fff);
  box-shadow: 0px 5px 25px 0px rgba(41, 98, 255, 0.2);
  max-width: 300px;
  width: 100%;

  span {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
